.composantEmails {
	background-color: #9ed3f5;
}

/************** Tableau paginé **************/
.composantEmails .remotePagingTable-results .remotePagingTable-emptyLine {
	height: 450px;
}

.composantEmails .sujetEmail {
	font-size: large;
	font-weight: bold;
}

.composantEmails .corpsEmail {
	background-color: #FFFFE0 !important;
}

.composantEmails .gwt-StackLayoutPanel {
	border-bottom: 1px solid #BBBBBB;
}

.composantEmails .gwt-StackLayoutPanel .gwt-StackLayoutPanelHeader {
	background: url("themes/default/images/hborder.png") repeat-x scroll 0 -989px #D3DEF6;
	border-color: #BBBBBB #BBBBBB -moz-use-text-color;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	cursor: pointer;
	font-size: 1.3em;
	font-weight: bold;
	padding: 3px;
}

.composantEmails .gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
	background: none repeat scroll 0 0 white;
	border-color: #BBBBBB #BBBBBB -moz-use-text-color;
	border-style: solid solid none;
	border-width: 1px 1px 0;
	padding: 2px 2px 10px 5px;
}