<?xml version="1.0" encoding="ISO-8859-1"?>
<!-- A tweaked version of the default Tomcat web.xml to remove everything except the stuff we want to use -->
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/classes/applicationContext.xml
			/WEB-INF/classes/securiteServiceContext.xml
			/WEB-INF/classes/rmiServiceImporterContext.xml
			/WEB-INF/classes/securiteServiceSpecContext.xml
			/WEB-INF/classes/rmiServiceImporterSpecContext.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>handler</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>handler</servlet-name>
		<url-pattern>/handler/*</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>getGrillePrestaPDF</servlet-name>
		<servlet-class>com.square.composant.tarificateur.square.server.servlet.GrillePrestationsPDFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>getGrillePrestaPDF</servlet-name>
		<url-pattern>/servlet/getGrillePrestaPDF</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>imprimerDevisServlet</servlet-name>
		<servlet-class>com.square.composant.tarificateur.square.server.servlet.ImprimerDevisServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>imprimerDevisServlet</servlet-name>
		<url-pattern>/servlet/imprimerDevisServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>uploadFichierEnvoiEmail</servlet-name>
		<servlet-class>com.square.composant.envoi.email.square.server.servlet.UploadFichierServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>uploadFichierEnvoiEmail</servlet-name>
		<url-pattern>/servlet/uploadFichierEnvoiEmail</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>
			org.springframework.web.filter.DelegatingFilterProxy
		</filter-class>
	</filter>
	
	<filter-mapping>
	  <filter-name>springSecurityFilterChain</filter-name>
	  <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<error-page>
		<error-code>403</error-code>
		<location>/erreurs/403.jsp</location>
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/erreurs/404.jsp</location>
	</error-page>

</web-app>